.nav{
    position: fixed;
    width: 60px;
    margin-top: 20%;
    transition: all .3s linear;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
}
  
.nav li{
    height: 50px;
    position: relative;
}

.nav li a {
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    padding-left: 23%;
    border-bottom: 1px solid rgba(0,0,0,.4);
    transition: all .3s linear;
}

.icon{
    position:absolute;
    top: 10px;
    left: 20px;
    font-size: 17px;
}


.nav li a:hover {
    z-index:1;
    width: 160px;
}
  
.nav li:hover a span{
    padding-left: 30%;
    display: block;
    opacity:1;
}
  

.nav li a span{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    transition: padding-left .5s, opacity .5s;
}

.nav #fb a{
    background: #4267B2;
}

.nav #linkedin a{
    background: #2867B2;
}
.nav #git a{
    background: #333;
}

.floatingBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.nav svg {
    font-size:2em;  /* 32px */
    position:absolute;
    top: 9px; /* 50px - 32x 18 */
    left: 14px;
}