.embla {
  position: relative;
  background-color: black;
  padding: 20px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
  padding: 5px;
  height: 100%;
  /* justify-content: center; */
}

.embla__container > div {
    flex: 0 0 auto;
    width: 50%;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    align-items: center;
    margin: 0 10px;
    transition: box-shadow 0.2s, margin 0.2s;
}

.embla__container > div:hover {
  -webkit-box-shadow: 0px 4px 7px 2px rgba(213,213,213,0.4); 
  box-shadow: 0px 4px 7px 2px rgba(213,213,213,0.4);
  margin: -5px 10px 5px 10px;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #75bff7;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button__prev {
  left: 27px;
}

.embla__button__next {
  right: 27px;
}
