
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    box-sizing: border-box !important;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    /* overflow: hidden;  */
}

* {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

@layer utilities {
    .text-gradient {
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


.test {
    rotate: 45
}

