
.header {
  position: fixed;
  top: 0;
  z-index:20;
}


/* .header .logo {
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px);
} */

.menuLink {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor:pointer;
  display: inline-block;
  background-color: rgb(255, 240, 240);
  text-decoration: none;
  color: #b0b0b0;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  background: #2e2e2e;
  background: linear-gradient(180deg, rgba(46, 46, 46, 0.8) 0%, rgba(46, 46, 46, 0.8) 71%, rgba(46, 46, 46, 0) 100%);
  transform: skewX(45deg) translateY(-200px);
}

.menuLink:after {
  display: block;
  content: "";
  position: relative;
  top: 30px;
  height: 10px;
  width: 100%;
  background-color: #2f77ae
}

.menuLink:hover {
  background: #454545;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(69, 69, 69, 0.8)), color-stop(71%, rgba(69, 69, 69, 0.8)), to(rgba(69, 69, 69, 0)));
  background: linear-gradient(180deg, rgba(69, 69, 69, 0.8) 0%, rgba(69, 69, 69, 0.8) 71%, rgba(69, 69, 69, 0) 100%);
}

.menuLink span {
  display: block;
  position: relative;
  top: 18px;
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.menuLink.active {
  color: #fff;
  background: #a30606;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(163, 6, 6, 0.6)), color-stop(71%, #a30606), to(rgba(163, 6, 6, 0)));
  background:linear-gradient(180deg, rgb(161 161 161 / 60%) 0%, #9e9e9e 71%, rgba(165, 165, 165, 0) 100%)
}

.menuLink.active:after {
  background-color: #5ea7de
}

.menuLink.active:hover {
  background: #bd0a0a;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(189, 10, 10, 0.6)), color-stop(71%, #bd0a0a), to(rgba(189, 10, 10, 0)));
  background: linear-gradient(180deg, rgb(161 161 161 / 60%) 0%, #9e9e9e 71%, rgba(165, 165, 165, 0) 100%)
}

.menuLink.active:hover:after {
  background-color: #6cb2e9
}

/* Default */
.header {
  left: 20%;
  right: 20%;
  padding-left: 50px;
}

.menuLink {
  width: 140px;
  height: 75px;
  font-size: 17px;
}

/* For Mobile */
@media screen and (max-width: 768px) {
  .header {
    left: 10%;
    right: 10%;
    padding-left: 10px;
  }

  .menuLink {
    width: 90px;
    height: 70px;
    font-size: 13px;
  }
}