@font-face {
    font-family: 'GameOver';
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.header {
    color: #5794c2;
}

.blinking{
    animation: blinkingText 3s infinite;
}

@keyframes blinkingText{
    0%{     opacity: 1;    }
    20%{    opacity: 0.7; }
    25%{    opacity: 1; }
    40%{    opacity: 0.6; }
    60%{   opacity: 1;    }
}

.blinking2 {
    animation: blinkingText2 3s infinite;
}

@keyframes blinkingText2{
    0%{     color: initial;    }
    20%{    color: rgb(181, 181, 181) !important; }
    25%{    color: initial; }
    40%{    color: rgb(186, 186, 186) !important; }
    60%{   color: initial;    }
}

.servicesList > div, .talents > div, .c_item_link {
    transition: background-color .5s;
}

.servicesList > div:hover {
    background-color: #317bb4;
    color:black;
}



/* Default */
.page_section {
    margin: auto 15%;
    padding: 40px;
}

.page_section:has(.aboutSection) {
    margin: auto 20%;
}

.page_section:has(.projectsSection) {
    margin: auto;
}

.c_item_link, .c_item_disabled_link {
    border-radius: 15px;
    border:1px solid white;
    padding: 1% 10%;
    transition: font-size .25s;
    font-family: "GameOver";
    font-size: 12px
}

.c_item_link:hover {
    background-color: #317bb4;
    color:black;
    font-size:13px;
}

.c_item_disabled_link {
    background-color: #202020;
    color: grey;
    cursor:default;
}

.c_tech {
    display: flex;
    flex-direction: row;
    justify-content:center
}

.c_bottom_div {
    height: fit-content;
    width: 100%;
}

.c_item_btns_box {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

/* For Mobile */
@media screen and (max-width: 640px) {
    .page_section {
        margin: auto 5px;
        padding: 0;
    }

    .page_section:has(.aboutSection) {
        margin: auto ;
    }

    .c_item_link {
        font-size: 17px
    }
}