

.box {
    display: inline-block;
    height: 12px;
    width: 14px;
    border: 1px solid #999;
}

.talents > div {
    opacity: 0.8;
    cursor:pointer;
}

.valueGood {
    background-color: rgb(113 194 124);
}

.valueNormal {
    background-color: rgb(168, 163, 64);
}

.valueBasic {
    background-color: #9390a5;
}

.talents > div:hover {
    opacity: 1;
}


/* Default: Mobile */
.progressBox {
    width:40%
}

.circleTitle {
    font-size:10px;
}

.valueBox {
    font-size:10px;
}

.skillTitle {
    font-size: 15px;
}

.legendScale span {
    font-size: 11px;
    line-height: 12px;
    vertical-align: text-top;
}

.scale {
    margin-left: -3px;
}

/* For Desktop and Tablet */
@media screen and (min-width: 768px) {
    .circleTitle {
        font-size:10px;
    }

    .skillTitle {
        font-size: initial;
    }

    .valueBox {
        font-size:13px;
    }

    .progressBox {
        width:33%
    }

    .legendScale span {
        font-size: 80%;
    }
    
    .scale {
        margin-left: -4px;
    }
}

/* Desktop */
@media screen and (min-width: 1280px) {

    .skillTitle {
        font-size: 17px;
    }

    .progressBox {
        width:25%
    }
}